.tab-container-content
{
  clear:both;
  display:none
}
.tab-container-content-default,
.tab-container-content-ready
{
  display:block
}
.tab-container-content-transparent
{
  opacity:0
}
.ie6to8 .tab-container-content-transparent
{
  filter:alpha(opacity=0)
}
.tab-container-content-opaque
{
  opacity:1
}
.ie6to8 .tab-container-content-opaque
{
  filter:"none"
}
.ie7 .tab-container .tab-container-headers
{
  border:1px solid transparent;
  top:3px;
  left:-1px
}
.ie7 .tab-container .tab-container-headers li,
.ie8.dtd-quirksmode .tab-container .tab-container-headers li
{
  display:inline
}
.ie7 .tab-container .tab-container-headers li a,
.ie8.dtd-quirksmode .tab-container .tab-container-headers li a
{
  display:inline-block
}
.ie7 .tab-container .tab-container-headers li
{
  top:-2px
}
.ie6 .tab-container .tab-container-headers
{
  border:1px solid white
}
.ie6 .tab-container,
.ie6 .tab-container .tab-container-contents,
.ie6 .tab-container .tab-container-contents .tab-container-content
{
  position:relative;
  zoom:1
}
.ie6 .tab-container .tab-container-headers li
{
  display:inline;
  border-color:#bec3c5
}
.tab-container
{
  margin-top:1px
}
.tab-container .tab-container-headers
{
  margin:0;
  padding:0;
  position:relative;
  z-index:2
}
.tab-container .tab-container-headers li
{
  list-style-type:none;
  margin:4px 3px 0 0;
  padding:0;
  background:#e8eaeb;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#e8eaeb));
  background:-webkit-linear-gradient(top,#ffffff,#e8eaeb);
  background:-moz-linear-gradient(center top,#ffffff 0%,#e8eaeb 100%);
  background:-ms-linear-gradient(top,#ffffff,#e8eaeb);
  background:-o-linear-gradient(center top,#ffffff 0%,#e8eaeb 100%);
  background:linear-gradient(to bottom,#ffffff,#e8eaeb);
  border:1px solid #bec3c5;
  display:inline-block;
  position:relative;
  text-align:center;
  vertical-align:bottom
}
.tab-container .tab-container-headers li a
{
  text-decoration:none;
  display:block;
  padding:10px
}
.tab-container .tab-container-headers li.ui-tabs-selected
{
  background:#fff;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#e8eaeb),color-stop(1,#ffffff));
  background:-webkit-linear-gradient(top,#e8eaeb,#ffffff);
  background:-moz-linear-gradient(center top,#e8eaeb 0%,#ffffff 100%);
  background:-ms-linear-gradient(top,#e8eaeb,#ffffff);
  background:-o-linear-gradient(center top,#e8eaeb 0%,#ffffff 100%);
  background:linear-gradient(to bottom,#e8eaeb,#ffffff);
  border-color:#bec3c5 #bec3c5 transparent #bec3c5;
  border-bottom-width:0;
  margin-top:0
}
.tab-container .tab-container-headers li.ui-tabs-selected a
{
  color:black;
  font-weight:bold;
  padding-top:14px;
  padding-bottom:11px
}
.tab-container .tab-container-headers .ui-state-disabled a
{
  color:#bec3c5;
  cursor:default
}
.tab-container .ui-tabs-selected
{
  background-color:white
}
.tab-container .tab-container-contents
{
  clear:both;
  overflow:visible;
  border:1px solid #bec3c5;
  position:relative;
  top:-1px
}
.tab-container .tab-container-content
{
  padding:10px
}
.tab-container .ui-tabs-hide
{
  display:none
}
.ie9 .tab-container .tab-container-contents,
.ie8 .tab-container .tab-container-contents
{
  position:static
}
.tab-container-skin-primaryfullpage
{
  margin-top:1px
}
.tab-container-skin-primaryfullpage .tab-container-headers
{
  margin:0;
  padding:0;
  position:relative;
  z-index:2
}
.tab-container-skin-primaryfullpage .tab-container-headers li
{
  list-style-type:none;
  margin:4px 3px 0 0;
  padding:0;
  background:#e8eaeb;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#e8eaeb));
  background:-webkit-linear-gradient(top,#ffffff,#e8eaeb);
  background:-moz-linear-gradient(center top,#ffffff 0%,#e8eaeb 100%);
  background:-ms-linear-gradient(top,#ffffff,#e8eaeb);
  background:-o-linear-gradient(center top,#ffffff 0%,#e8eaeb 100%);
  background:linear-gradient(to bottom,#ffffff,#e8eaeb);
  border:1px solid #bec3c5;
  display:inline-block;
  position:relative;
  text-align:center;
  vertical-align:bottom
}
.tab-container-skin-primaryfullpage .tab-container-headers li a
{
  text-decoration:none;
  display:block;
  padding:10px
}
.tab-container-skin-primaryfullpage .tab-container-headers li.ui-tabs-selected
{
  background:#fff;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#e8eaeb),color-stop(1,#ffffff));
  background:-webkit-linear-gradient(top,#e8eaeb,#ffffff);
  background:-moz-linear-gradient(center top,#e8eaeb 0%,#ffffff 100%);
  background:-ms-linear-gradient(top,#e8eaeb,#ffffff);
  background:-o-linear-gradient(center top,#e8eaeb 0%,#ffffff 100%);
  background:linear-gradient(to bottom,#e8eaeb,#ffffff);
  border-color:#bec3c5 #bec3c5 transparent #bec3c5;
  border-bottom-width:0;
  margin-top:0
}
.tab-container-skin-primaryfullpage .tab-container-headers li.ui-tabs-selected a
{
  color:black;
  font-weight:bold;
  padding-top:14px;
  padding-bottom:11px
}
.tab-container-skin-primaryfullpage .tab-container-headers .ui-state-disabled a
{
  color:#bec3c5;
  cursor:default
}
.tab-container-skin-primaryfullpage .ui-tabs-selected
{
  background-color:white
}
.tab-container-skin-primaryfullpage .tab-container-contents
{
  clear:both;
  overflow:visible;
  border:1px solid #bec3c5;
  position:relative;
  top:-1px
}
.tab-container-skin-primaryfullpage .tab-container-content
{
  padding:10px
}
.tab-container-skin-primaryfullpage .ui-tabs-hide
{
  display:none
}
.tab-container-skin-primaryfullpage .tab-container-headers
{
  padding-left:10px
}
.tab-container-skin-primaryfullpage .tab-container-contents
{
  border-width:1px 0 0 0
}
.ie7 .tab-container-skin-primaryfullpage .tab-container-contents
{
  zoom:1
}
.tab-container-skin-neutral
{
  margin-top:1px
}
.tab-container-skin-neutral .tab-container-headers
{
  margin:0;
  padding:0;
  position:relative;
  z-index:2
}
.tab-container-skin-neutral .tab-container-headers li
{
  list-style-type:none;
  margin:4px 3px 0 0;
  padding:0;
  background:#e8eaeb;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#e8eaeb));
  background:-webkit-linear-gradient(top,#ffffff,#e8eaeb);
  background:-moz-linear-gradient(center top,#ffffff 0%,#e8eaeb 100%);
  background:-ms-linear-gradient(top,#ffffff,#e8eaeb);
  background:-o-linear-gradient(center top,#ffffff 0%,#e8eaeb 100%);
  background:linear-gradient(to bottom,#ffffff,#e8eaeb);
  border:1px solid #bec3c5;
  display:inline-block;
  position:relative;
  text-align:center;
  vertical-align:bottom
}
.tab-container-skin-neutral .tab-container-headers li a
{
  text-decoration:none;
  display:block;
  padding:10px
}
.tab-container-skin-neutral .tab-container-headers li.ui-tabs-selected
{
  background:#fff;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#e8eaeb),color-stop(1,#ffffff));
  background:-webkit-linear-gradient(top,#e8eaeb,#ffffff);
  background:-moz-linear-gradient(center top,#e8eaeb 0%,#ffffff 100%);
  background:-ms-linear-gradient(top,#e8eaeb,#ffffff);
  background:-o-linear-gradient(center top,#e8eaeb 0%,#ffffff 100%);
  background:linear-gradient(to bottom,#e8eaeb,#ffffff);
  border-color:#bec3c5 #bec3c5 transparent #bec3c5;
  border-bottom-width:0;
  margin-top:0
}
.tab-container-skin-neutral .tab-container-headers li.ui-tabs-selected a
{
  color:black;
  font-weight:bold;
  padding-top:14px;
  padding-bottom:11px
}
.tab-container-skin-neutral .tab-container-headers .ui-state-disabled a
{
  color:#bec3c5;
  cursor:default
}
.tab-container-skin-neutral .ui-tabs-selected
{
  background-color:white
}
.tab-container-skin-neutral .tab-container-contents
{
  clear:both;
  overflow:visible;
  border:1px solid #bec3c5;
  position:relative;
  top:-1px
}
.tab-container-skin-neutral .tab-container-content
{
  padding:10px
}
.tab-container-skin-neutral .ui-tabs-hide
{
  display:none
}
.tab-container-skin-neutral .tab-container-headers li
{
  background:#a6a6a7
}
.tab-container-skin-neutral .tab-container-headers .ui-state-disabled a
{
  color:#d1d1d1
}
.ie6 .tab-container-skin-neutral .tab-container-headers
{
  border:1px solid white
}
.tab-container-skin-vertical .tab-container-headers
{
  float:left
}
.tab-container-skin-vertical .tab-container-headers li
{
  margin:0 0 -1px 4px;
  float:none;
  display:block;
  border-bottom-color:#bec3c5
}
.tab-container-skin-vertical .tab-container-headers li a
{
  display:block;
  padding:10px;
  text-decoration:none;
  text-align:left
}
.tab-container-skin-vertical .tab-container-headers li.ui-tabs-selected
{
  border-color:#bec3c5 #fff #bec3c5 #bec3c5;
  border-bottom-width:1px;
  margin-left:0
}
.tab-container-skin-vertical .tab-container-headers li.ui-tabs-selected a
{
  color:black;
  background-color:white;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:14px
}
.tab-container-skin-vertical .tab-container-headers .ui-state-disabled a
{
  color:#bec3c5;
  cursor:default
}
.tab-container-skin-vertical .tab-container-contents
{
  clear:none;
  overflow:auto;
  border:1px solid #bec3c5;
  position:relative;
  left:-1px;
  top:0
}
.tab-container-skin-vertical .tab-container-content
{
  padding:10px
}
.tab-container-skin-vertical .ui-tabs-hide
{
  display:none
}
.ie7 .tab-container-skin-vertical .tab-container-contents
{
  left:-3px;
  top:1px
}
.ie7 .tab-container-skin-vertical .tab-container-headers
{
  text-align:right;
  top:0
}
.ie7 .tab-container-skin-vertical .tab-container-headers li
{
  display:block
}
.ie7 .tab-container-skin-vertical .tab-container-headers li.ui-tabs-selected
{
  margin-top:-1px;
  margin-bottom:-3px
}
.ie7 .tab-container-skin-vertical .tab-container-headers li.ui-tabs-selected:first-child
{
  margin-top:2px
}
.ie7 .tab-container-skin-vertical .tab-container-headers li a
{
  display:block
}
.ie6 .tab-container-skin-vertical .tab-container-headers li
{
  text-align:right;
  border-color:white;
  display:block;
  float:left;
  clear:both
}
.ie6 .tab-container-skin-vertical .tab-container-headers li a
{
  display:inline-block
}
.tab-container-skin-inverted
{
  position:relative;
  margin-bottom:40px
}
.tab-container-skin-inverted .tab-container-headers
{
  position:absolute;
  top:100%
}
.tab-container-skin-inverted .tab-container-headers li
{
  background:#e8eaeb;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#e8eaeb),color-stop(1,#ffffff));
  background:-webkit-linear-gradient(top,#e8eaeb,#ffffff);
  background:-moz-linear-gradient(center top,#e8eaeb 0%,#ffffff 100%);
  background:-ms-linear-gradient(top,#e8eaeb,#ffffff);
  background:-o-linear-gradient(center top,#e8eaeb 0%,#ffffff 100%);
  background:linear-gradient(to bottom,#e8eaeb,#ffffff);
  top:-7px
}
.tab-container-skin-inverted .tab-container-headers li.ui-tabs-selected
{
  background:#fff;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#e8eaeb));
  background:-webkit-linear-gradient(top,#ffffff,#e8eaeb);
  background:-moz-linear-gradient(center top,#ffffff 0%,#e8eaeb 100%);
  background:-ms-linear-gradient(top,#ffffff,#e8eaeb);
  background:-o-linear-gradient(center top,#ffffff 0%,#e8eaeb 100%);
  background:linear-gradient(to bottom,#ffffff,#e8eaeb);
  border-color:#fff #bec3c5 #bec3c5 #bec3c5;
  border-bottom-width:1px;
  top:-2px
}
.ie7 .tab-container-skin-inverted
{
  zoom:1
}
.ie7 .tab-container-skin-inverted .tab-container-headers
{
  zoom:1;
  position:absolute;
  top:100%
}
.ie7 .tab-container-skin-inverted .tab-container-headers li
{
  position:relative;
  top:-8px
}
.ie7 .tab-container-skin-inverted .tab-container-headers li.ui-tabs-selected
{
  top:-3px
}
.ie6 .tab-container-skin-inverted .tab-container-headers
{
  position:relative;
  top:3px;
  bottom:auto
}
.ie6 .tab-container-skin-inverted .tab-container-headers li.ui-tabs-selected
{
  border-top-color:#bec3c5;
  border-bottom-color:white
}
